* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: scroll;
  flex-wrap: initial;
  width: 23000px;
}

.item {
  width: 800rem;
  margin: 2rem;
  display: block;
}

.item12 {
  position: relative;
  top: 0%;
  left: 0%;
}


.item27 {
  width: 300px;
}

.item24 {
  width: 1000px;
}

.item27 video {
  width: 350px;
  height: auto;
  margin-top: 600px;
  margin-right: 300px;
}

.pa {
  position: relative;
  top: 0%;
  left: 0%;
  overflow: scroll;
  clear: both;
  padding-left: 150px;
  box-sizing: border-box;
}

.absolutesticky {
  position: absolute;
  top: 30%;
  left: 0;
  width: 500vw;
}

.absolutesticky .sticky {
  display: none;
  max-width: 100vw;
}

.absolutesticky.active .sticky {
  position: fixed;
  left: 0;
  display: block;
}

.title {
  width: 500px;
  text-align: left;
  font-size: 1rem;
  margin: 1rem;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: inherit;
}

/* media */
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .item img {
    max-height: 700px;
  }
  .item video {
    max-height: 700px;
  }
  .item2, .item1, .item3, .item6, .item13, .item16, .item18, .item19, .item21, .item22, .item25, .item26 {
    width: 500px;
    margin: 1rem;
  }

  .item5 {
    width: 1047px;
    margin: 1rem;
  }

.item7 {
  width: 727px;
  margin: 1rem;
}
.item8 {
  width: 1280px;
  margin: 1rem;
}

.item9 {
  width: 560px;
  margin: 1rem;
}
.item10 {
  margin-top: 100px;
}
.item17, .item15, .item14, .item23, .item5, .item10, .item23 {
  width: 1060px;
  margin: 1rem;
}
.item24 {
  width: 750px;
  margin: 1rem;
}
.item10 {
  width: 890px;
  margin: 1rem;
}
.item20 {
  width: 1365px;
  margin: 1rem;
}
.item12 {
  width: 1261px;
  margin: 1rem;
}
.pa {
  width: 1261px;
  margin: 1rem;
}

.container {
  width: 18000px;
  margin: 1rem;
}

}
